/* Hiệu ứng chọn sao đánh giá */
.rating-css div {
    color: #ffe400;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 40px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}
/* Logic: Khi check 1 ô, các ô phía sau nó (trong DOM nhưng hiển thị là trước do float hoặc thứ tự) sẽ đổi màu */
.rating-css input:checked + label ~ label {
    color: #b4b4b4;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* Hiệu ứng viền xanh khi ứng viên được chọn */
.ring-success {
    border: 2px solid #198754 !important;
    box-shadow: 0 0 10px rgba(25, 135, 84, 0.2);
}

/* Hover link quay lại */
.hover-link:hover {
    color: #0d6efd !important;
    text-decoration: underline !important;
}